@import url('https://fonts.googleapis.com/css2?family=Open+Sans');


html {
  padding:0;
  margin:0;

}

body {
  background: #43C6AC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top,#43C6AC, #191654 );  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #43C6AC, #191654); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding:0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  margin: 30px auto 0 auto;
  width:40%;
}

.logo {
  background:#fff;
  border-radius:50px;
  margin:10px auto 20px auto;
  padding-top:11px;
  text-align:center;
  height:80px;
  width:80px;
  -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

.logo img{
  width:50px;
}

.instagram, .website, .twitter, .github, .newsletter-form-link {
  margin-bottom:15px;
  padding:10px 0 6px 0;
  text-align:center;
}

.website {
  background:#6e8698;
}

.container a {
  display:block;
  text-decoration:none;
  width:100%;
}

.website > a {
  color:#fff;
}

.instagram {
  color:#fff;
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.github {
  background:#000;
}

.twitter {
  background:#52a7e7;
}

.newsletter-form-link {
  background:#4b0082;
 
}

.newsletter-form-link span {
  color:#fff;
  margin-left:15px;
  position:relative;
  top:-9px;
}

footer{
  background:#1b2023;
  bottom:0;
  color:#fff;
  padding:10px 0 15px 0;
  position:fixed;
  text-align:center;
  width:100%;
}

footer a {
  color:#fff;
  text-decoration:none;
}

.newsletter p , .newsletter h3 {
  color:#fff;
  text-align:center;
}

footer > a:visited {
  color:#fff;
}

.newsletter-form {
  color:#fff;
  text-align:center;
}

.newsletter-form input{
  border:0;
  height:30px;
  margin:5px 0 25px 0;
  padding:5px;
  width:100%;
}

.newsletter-form button {
  background:#4b0082;
  border:0;
  color:#fff;
  font-size:22px;
  padding:15px 40px;
}
@media only screen and (min-width: 768px) {
  /* tablets and desktop */
  .container {
    width:40%;
  }
}

@media only screen and (max-width: 767px) {
  /* phones */
  .container {
    margin: 0 auto;
    width:90%;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .container {
    width:80%;
  }
}